* {
  box-sizing: border-box;
  vertical-align: top;
  font-family: 'Short Stack', cursive;
}

body {
  text-align: center;
  margin: 0px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Short Stack', cursive;
}

#C {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

}

body .tabs {
  background: #A8A8A8;
  border: 2px solid #1d70b7;
  border-bottom: none;
}

body .tabs span {
  margin-right: -5px;
  cursor: pointer;
  position: relative;
  padding: 18px 20px 18px;
  display: inline-block;
  color: #000000;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body .tabs span:hover {
  color: #FFFFFF;
  background: #222;
}

body .tabs .active {
  background: #1d70b7;
  color: #ffffff;
}

body .tabs .active:hover {
  background: #1d70b7;
  color: #ffffff;
}

body .tab-content {
  border: 2px solid #1d70b7;
  border-top: none;
  background: #ffffff;
  clear: both;
  overflow: hidden;
  text-align: left;
  padding: 3%;
  margin-bottom: 30px;
}

body .tab-content img {
  border: 4px solid #f1f1f1;
}

.navbar {
  background-color: #A8A8A8;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  color: #000000;
}

h1 {
  margin: 0 0;
}

h3 {
  margin-top: 0;
}

canvas {
  margin: 10px 0;
}

.filters button {
  margin: 10px 0;
}

input[type="range"] {
  margin: 0 0 10px 0;
}

.p {
  padding-top: 50px;
}

.progress-wrapper {
  position: relative;
  margin-bottom: 20px;
}

progress-arc {
  position: relative;
}

.progress-text {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin-top: 85px;
  font-size: 24px;
  color: white;
}

.labels {
  color: white;
}

circle {
  stroke-linecap: round;
  stroke-width: 10px;
  transition: stroke-dashoffset 0.1s linear;
}

.control {
  position: relative;
}

